<p><a ui-sref="newClient" class="btn-primary btn-lg nodecoration">Add New Client</a></p>

<p>
    <table  ng-controller="ClientsController" border="1">
        <tr>
            <td>ID</td>
            <td>FIRSTNAME</td>
            <td>LASTNAME</td>
            <td>ADDRESS</td>
            <td>PHONE</td>
            <td>EMAIL</td>
            <td>ACTION</td>
        </tr>
        <tr ng-repeat="client in clients">
            <td>{{client.id}}</td>
            <td>{{client.firstName}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.address}}</td>
            <td>{{client.phoneNumber}}</td>
            <td>{{client.email}}</td>
            <td>
                <a class="btn btn-primary" ui-sref="viewClient({id:client.id})">View</a>
                <a class="btn btn-danger"  ng-click="deleteClient(client)">Delete</a>
            </td>
        </tr>
        <tr>
            <td>Итого: {{clients.length}} штук</td>
        </tr>
    </table>
</p>